/* Links */
a {
	text-decoration		: none;
}

a,
a:visited {
	color				: #eef2ce;
}

a:hover,
a:active {
	color				: #f2f2f2;
}

/* Global */
body {
	background-color	: #260e0e;
	font-family			: 'Bitter', serif;
	color				: #f2f2f2;
}

.site {
}



/* Header */
.site-header {
}

.site-branding,
.site-branding a {
	color				: #73534c;
	text-align			: center;
}

.site-branding:hover,
.site-branding:hover a {
	color				: #f2f2f2;
}

.site-title {
	font-size			: 64px;
}

.site-description {
}


/* Navigation */
.navigation-main {
	text-align			: center;
}

.navigation-main ul a,
.navigation-main ul a:visited {
	color				: #73534c;
}

.navigation-main ul a:hover,
.navigation-main ul a:active {
	color				: #f2f2f2;
}

.navigation-main ul li {
	padding				: 12px 24px 12px 0;
	text-align			: left;
}

.navigation-main ul ul li {
	display				: none;
}

.navigation-post a {
	color				: #73534c;
}

.navigation-post a:hover {
	color				: #f2f2f2;
}



/* Main Site */
.site-main {
	padding				: 32px 64px;
	margin				: 0 auto;
	max-width			: 640px;
}



/* Content Area */
.content-area {
	float				: left;
	max-width			: 640px;
	-ms-word-wrap		: break-word;
	word-wrap			: break-word;
}

.entry-header {
	text-align			: center;
}

.entry-title {
	font-size			: 64px;
	font-weight			: bold;
	color				: #f2f2f2;
}

.entry-title a {
	color				: #f2f2f2;
}

.entry-meta {
	font-size			: 12px;
	text-align			: center;
}

.entry-meta a {
	color				: #f2f2f2;
}

.entry-content {
	font-size			: 24px;
	font-family			: 'Bitter', serif;
}

.entry-content p a:after {
	content				: '\f442';
	display				: inline-block;
	-webkit-font-smoothing: antialiased;
	font				: normal 32px/1 'Genericons';
	vertical-align		: middle;
}

.entry-content .more-link:after {
	content				: '';
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	margin-bottom		: 12px;
}

.entry-content h1 {
	font-size			: 64px;
}

.entry-content h2 {
	font-size			: 48px;
}

.entry-content h3 {
	font-size			: 36px;
}

.entry-content h4 {
	font-size			: 32px;
}

.entry-content h5 {
	font-size			: 28px;
}

.entry-content h6 {
	font-size			: 24px;
}

.entry-content th,
.entry-content td {
	padding				: 12px;
}

.entry-content th,
.entry-content .even {
}

.entry-content tr:hover {
}

.entry-content th,
.entry-content tr:first-child td {
	border-top			: 1px solid #f2f2f2;
}

.entry-content th:first-child,
.entry-content td:first-child {
	border-left			: 1px solid #f2f2f2;
}

.entry-content th,
.entry-content td {
	border-right		: 1px solid #f2f2f2;
	border-bottom		: 1px solid #f2f2f2;
}

.entry-content address {
	border-left			: 3px dotted #f2f2f2;
	padding-left		: 24px;
}

.entry-content abbr,
.entry-content acronym {
	border-bottom		: 3px dotted #f2f2f2;
	padding-bottom		: 3px;
}

.entry-content pre,
.entry-content kbd,
.entry-content code,
.entry-content ins,
.entry-content tt,
.entry-content var {
	font-size			: 24px;
	background-color	: #401f18;
	overflow			: visible;
}

.entry-content blockquote,
.entry-content q {
	border-left			: 3px dotted #f2f2f2;
	padding-left		: 24px;
	background-color	: #260e0e;
	display				: block;
	color				: #f2f2f2;
	font-style			: italic;
	margin				: 0;
}

/* Post Format */
.format-quote .entry-content {
	font-size			: 32px;
}

.format-quote .entry-content cite:before {
	content				: "— ";
}

.format-link .entry-content {
	text-align			: center;
}

.wp-caption {
	margin-bottom		: 24px;
	border				: none;
}

.wp-caption a:after {
	font: normal 16px/1 'Genericons';
}

.wp-caption-dd,
.wp-caption-text {
	font-family			: 'Bitter', serif;
	font-size			: 12px;
}

.navigation-post {
	font-size			: 24px;
}

/* Comments Area */
.comments-area {
	display				: none;
}



/* Widget Area */
.widget-area {
	display				: none;
	float				: left;
	max-width			: 348px;
	font-size			: 12px;
	padding-left		: 36px;
}



/* Footer */
.site-footer {
	padding				: 64px;
	text-align			: center;
	font-size			: 12px;
}

.site-footer,
.site-footer a {
	color				: #73534c;
}

.site-footer:hover,
.site-footer:hover a {
	color				: #f2f2f2;
}



/* Special */

/* Minimum Width 640px */
@media screen and (min-width: 640px) {
	.navigation-main ul {
		display				: inline-block;
	}
}

.twitter-tweet {
	width					: 100%;
}