/* Links */
a {
	text-decoration		: none;
	color				: #33cccc;
}

a:visited {
	color				: #336666;
}

a:hover {
	color				: #009999;
}

a:active {
	color				: #006666;
}

/* Global */
body {
	background-color	: #3f3f3f;
}

.site {
	background-color	: #f0f0f0;
}



/* Header */
.site-header {
	background-color	: #669900;
}

.site-branding,
.site-branding a {
	color				: #f0f0f0;
	text-align			: center;
	padding				: 64px 0;
}

.site-title {
	font-family			: 'arial black', gadget, sans-serif;
	font-size			: 64px;
}

.site-description {
}

.navigation-main {
	background-color	: #f0f0f0;
	text-align			: center;
}

.navigation-main ul a {
	color				: #669900;
}

.navigation-main ul a:visited {
	color				: #669900;
}

.navigation-main ul a:hover {
	color				: #99cc33;
}

.navigation-main ul a:active {
	color				: #336600;
}

.navigation-main ul ul {
}

.navigation-main ul li {
	padding				: 12px 24px 12px 0;
	text-align			: left;
}

.navigation-main ul li ul {
	margin-top			: 24px;
}

.navigation-main ul li ul li {
	padding-left		: 12px;
	background-color	: #f0f0f0;
	border-bottom		: 1px solid #f9f9f9;
}

.navigation-main ul li ul ul {
	margin-top			: 0;
}

.navigation-main ul li:hover {
}



/* Main Site */
.site-main {
	background-color	: #f0f0f0;
	padding				: 32px 64px;
	margin				: 0 auto;
	max-width			: 640px;
}



/* Content Area */
.content-area {
	float				: left;
	max-width			: 640px;
	-ms-word-wrap		: break-word;
	word-wrap			: break-word;
}

.entry-header {
	text-align			: center;
}

.entry-title {
	font-size			: 64px;
	font-weight			: bold;
}

.entry-meta {
	font-size			: 12px;
	text-align			: center;
}

.entry-content {
	font-size			: 24px;
	font-family			: georgia, serif;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	margin-bottom		: 12px;
}

.entry-content h1 {
	font-size			: 64px;
}

.entry-content h2 {
	font-size			: 48px;
	border-bottom		: 1px solid black;
}

.entry-content h3 {
	font-size			: 36px;
}

.entry-content h4 {
	font-size			: 32px;
}

.entry-content h5 {
	font-size			: 28px;
}

.entry-content h6 {
	font-size			: 24px;
}

.entry-content th,
.entry-content td {
	padding				: 12px;
}

.entry-content th,
.entry-content .even {
}

.entry-content tr:hover {
}

.entry-content th,
.entry-content tr:first-child td {
	border-top			: 1px solid #6f6f6f;
}

.entry-content th:first-child,
.entry-content td:first-child {
	border-left			: 1px solid #6f6f6f;
}

.entry-content th,
.entry-content td {
	border-right		: 1px solid #6f6f6f;
	border-bottom		: 1px solid #6f6f6f;
}

.entry-content address {
	border-left			: 3px dotted #6f6f6f;
	padding-left		: 24px;
}

.entry-content pre,
.entry-content kbd,
.entry-content code {
	font-size			: 16px;
	background-color	: #cfcfcf;
	overflow			: visible;
}

.entry-content blockquote,
.entry-content q {
	padding				: 32px;
	background-color	: #669900;
	display				: block;
	color				: #f0f0f0;
	background-image	: url('img/quote.png');
	background-position	: top right;
	background-repeat	: no-repeat;
}

.entry-content blockquote a,
.entry-content q a {
	color				: #f0f0f0;
}

/* Post Format */
.format-quote .entry-content {
	font-size			: 32px;
}

.format-quote .entry-content cite:before {
	content				: "— ";
}

.format-link .entry-content {
	text-align			: center;
}

.wp-caption {
	margin-bottom		: 24px;
}

.wp-caption-dd,
.wp-caption-text {
	font-family			: 'arial', gadget, sans-serif;
	font-size			: 12px;
}

.navigation-post {
	font-size			: 24px;
}

/* Comments Area */
.comments-area {
	display				: none;
}



/* Widget Area */
.widget-area {
	display				: none;
	float				: left;
	max-width			: 348px;
	font-size			: 12px;
	padding-left		: 36px;
}



/* Footer */
.site-footer {
	padding				: 64px;
	background-color	: #669900;
	text-align			: center;
	-moz-box-shadow		: 0 0 10px #336600;
	-webkit-box-shadow	: 0 0 10px #336600;
	box-shadow			: 0 0 10px #336600;
	font-size			: 12px;
}

.site-footer,
.site-footer a {
	color				: #f0f0f0;
}



/* Special */

/* Minimum Width 640px */
@media screen and (min-width: 640px) {
	.navigation-main ul {
		display				: inline-block;
	}
}

.twitter-tweet {
	width					: 100%;
}